




@media screen and (max-width: 1250px) {
    .content_width {
        max-width: 75%;
    }
    .section_myinfo_motivation-block {
        flex-direction: column;
    }

    .navbar_invisibility {
        display: none;
    }
    .navbar{
        display: none;
    }
    .block_navbar_mobile {
        display: block;
    }

    .header_blocks {
        padding: 218px 0px 60px 0px;
    }

}




@media screen and (max-width: 1050px) {

    

    .content_width {
        max-width: 80%;
    }
    
    .navbar_link {
        padding: 15px;
    }

    .section_myinfo_motivation-block img {
        height: 250px;
        width: 250px;
    }
    .tech_skills_block-languages_content-list {
        flex-direction: column;
    }
    .header_title h1{
        margin: 50px 30px;
    }


}




@media screen and (max-width: 850px) {


    .content_width {
        max-width: 85%;
    }

    .modal-window_contacts {
        height: 280px;
    }
    .modal-window_contacts_links {
        padding: 5px;
    }
    .modal-window_contacts_links a {
        text-align: center;
        width: 250px;
        padding: 5px 20px;
        color: rgb(255, 255, 255);
        box-shadow: 350px 0 0 0 rgb(0, 0, 0) inset;
    }

    .modal-window_PDF_buttons a {
        width: 150px;
        color: rgb(255, 255, 255);
        box-shadow: 350px 0 0 0 rgb(0, 0, 0) inset;
    }

    .tech_skills_block-languages_list {
        flex-direction: column;
    }

    .youtube_channel_card {
        padding: 23px;
        margin: 0px 5px 20px 5px;
        max-height: 140px;
    }
    .youtube_channel_card img {
        width: 50px;
        height: 50px;
    }

    .education_content_book img {
        width: 250px;
        height: 350px;
    }
    .education_content_book p {
        font-weight: 500;
        font-size: 16px;
    }

    .soft_skills_block-abilities {
        flex-direction: column;
    }

}




@media screen and (max-width: 700px) {
    
    
    .content_width {
        max-width: 90%;
    }
   
    body{
        font-size: 17px;
    }
    h2 {
        font-size: 21px;
    }
    .header_title h1{
        font-size: 40px;
        margin: 25px 0px;
    }
    .header_button_line {
        flex-direction: column;
        margin: 30px 0px 0px 0px;
    }
    .header_button_line a {
        font-size: 20px;
        padding: 6px 40px;
        margin: 10px 20px;
    }

    .modal-window_contacts {
        width: 300px;
    }
    .modal-window_contacts_links a {
        font-size: 16px;
    }
    .modal-window_PDF {
        width: 250px;
        height: 200px;
    }
    .modal-window_PDF_buttons {
        flex-direction: column;
        margin: 20px 0px;
    }

    .paragraph_name {
        font-size: 20px;
    }

    .section_myinfo_motivation-block img { 
        height: 200px;
        width: 200px;
    }

    .tech_skills_block-title {
        font-size: 20px;
    }
    .skill {
        font-size: 18px;
    }
    .skill img { 
        /* height: 35px;
        width: 35px; */
        padding: 0px 10px;
    }

    .section_experience_info_work_link {
        font-size: 20px;
    }
    .education_block {
        padding: 40px 20px;
    }
    .education_content_title {
        padding-bottom: 20px;
        font-size: 20px;
    }
    .education_youtube_channel_title {
        font-size: 18px;
    }
    .education_content_sites_links a {
        font-size: 17px;
    }
    .education_content_books_title {
        font-size: 18px;
    }

    .education_content_book img {
        width: 200px;
        height: 300px;
    }
    .education_content_book p {
        font-weight: 600;
        font-size: 15px;
    }

    .tech_skills_block-languages_content-list {
        padding: 0px;
    }

    .tech_skills_block-tech_content_title {
        font-size: 18px;
    }
    
    .soft_skills_block-title {
        font-size: 20px;
    }

}



@media screen and (max-width: 500px) {
    
    .content_width {
        padding: 10px;
    }

    .soft_skills_block {
        padding-bottom: 40px;
    }

    .section_myinfo_motivation-block {
        padding: 20px 0px 80px 0px;
    }
    
    .tech_skills_block-languages {
        margin-top: 30px;
    }
    .tech_skills_block-languages_list {
        padding: 15px 0px;
    }

    .education_block {
        padding: 40px 15px;
    }
    .education_block:first-child {
        margin-top: 30px;
    }

    .youtube_channel_card {
        box-sizing: border-box;
        padding: 20px 15px;
    }
    .youtube_channel_card p {
        font-size: 15px;
        padding: 10px 0px;
    }

    .section_experience_info_work:first-child {
        margin-top: 30px;
    }

    .footer_list {
        padding: 50px 10px 30px 10px;
    }

}





@media screen and (max-width: 350px) {

    .content_width {
        padding: 0px;
    }

    .header_title h1{
        font-size: 35px;
        margin: 25px 0px;
    }

    .header_button_line a {
        font-size: 19px;
        padding: 4px 30px;
    }

    .modal-window_contacts_links {
        padding: 5px 15px;
    }
    .modal-window_contacts_links a {
        padding: 5px 0px;
    }
    .modal-window_contacts {
        width: 250px;
        height: 260px;
    }

    .section_myinfo_motivation-block img {
        height: 170px;
        width: 170px;
    }

    .education_block {
        padding: 40px 10px;
    }
    .education_content_sites_links a {
        padding: 7px 20px;
    }

    .section_experience_info_work {
        padding: 10px;
        margin-bottom: 30px;
    }

    .tech_skills_block-languages {
        padding: 40px 10px;
    }
    .tech_skills_block-languages li {
        padding: 8px;
    }
    .tech_skills_block-languages li span {
        padding-left: 8px;
    }
    .tech_skills_block-tech_content_block {
        padding: 10px;
    }

    .soft_skills_block-abilities_skills:nth-child(2){
        display: none;
    }    
    .soft_skills_block-abilities_skills:nth-child(3){
        display: block;
    }
    
}