@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

body{
    display: block;
    /* font-family: 'Comfortaa', cursive; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin: 0;
    max-width: 100%;
}
*::selection {
    color: #fff;
    background-color: rgba(0, 0, 0, 1);
}
.content_width{
    margin: 0 auto;
    padding: 40px 30px;
    max-width: 80%;
    box-sizing: border-box;
}
a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}
h2{
    height: 75px;
    font-weight: 500;
    font-size: 25px;
    color: rgb(0, 0, 0);
    background-color: rgb(245, 245, 245);
    /* box-shadow: 0px 0px 0px 1px rgb(137, 137, 137) inset; */

    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 30px 0px 0px 0px; */
    margin: 0;
}
h2 img {
    margin-right: 8px;
}

.block_shadow {
    box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}
.btn_more:hover {
    cursor: pointer;
    color: darkblue;
}


/* section */



.navbar_invisibility {
    display: block;
    height: 27px;
}

.block_navbar_mobile {
    display: none;
    width: 100%;
    position: fixed;
    z-index: 11;
    top: 0;
    background: rgba(0, 0, 0, 0.9);
    padding: 0px;
}
.block_navbar_mobile-elements_row {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
}
.navbar_mobile-elements_logo {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
    letter-spacing: 3px;
}

.navbar_mobile-elements_button {
    background: none;
    border: none;
}
.navbar_mobile-elements_button:hover {
    cursor: pointer;
}
.navbar_mobile-elements_button_icon {
    color: #fff;
    width: 30px;
    height: 30px;
}
.navbar_mobile-elements_button_icon_row {
    background: #fff;
    border-radius: 30px;
    width: 26px;
    height: 4px;
    margin: 5px;
}
.navbar_mobile-elements_links {
    display: none;
}
.navbar_mobile-elements_links ul {
    margin: 0;
    padding: 15px;
    border-top: rgb(255, 255, 255) solid 1px;
    border-bottom: rgb(255, 255, 255) solid 1px;

}
.navbar_mobile-elements_link {
    display: block;
    margin: 8px 0px;
    padding: 5px 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.navbar_mobile-elements_link:hover {
    color: lightblue;
}

.block_navbar_mobile-other_space {
    display: none;
    height: 100vh;
}




/* section */



.header{
    height: 100vh;
}
.header_blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 130px 0px 60px 0px;
}
.header_title_h{
    font-weight: 900;
    font-size: 50px;
    font-family: 'Chango', cursive;
    margin: 50px 0px;
    text-align: center;
    background: url(../pictures/pexels-photo-bg.jpeg);    
    color: transparent;
    -webkit-background-clip: text;
    animation: h1_animation 25s infinite linear;
}
@keyframes h1_animation{
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}
.header_button_line {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_button_line a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    padding: 15px 70px;
    margin: 0px 20px;

    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border: solid 2px;
    border-radius: 10px;

    position: relative;
    box-shadow: 2px 2px white, 4px 4px #000;
    top: -4px;
    left: -4px;
    transition: .1s linear;
}
.header_button_line a:hover{
    cursor: pointer;
    border: solid 2px #000;
    color: #fff;
    background-color: rgba(0, 0, 0);
}
.header_button_line a:active{
    box-shadow: 0px 0px 0px 0px;
    top: 0;
    left: 0;
}
.button_text {
    
    display: inline-block;
}


.modal-window_backlayer {
    display: none;
    position: fixed;
    z-index: 18;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    background: rgba(0, 0, 0, 0.7);
}
.modal-window_contacts { 
    width: 500px;
    height: 300px;
    background: #fff;
    border-radius: 7px;
    margin: 85px auto; 
    padding: 8px;   
}
.modal-window_contacts_cross {
    display: flex;
    justify-content: end;
}
.modal-window_contacts_cross img {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}
.modal-window_contacts_cross img:hover {
    cursor: pointer;
    background: rgb(160, 160, 160);
}

.modal-window_contacts_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}
.modal-window_contacts_links a {
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    color: #000;
    border: rgba(0, 0, 0, 0.2) solid 1px;
    margin: 5px;
    padding: 5px 30px;
    transition: .3s linear;
}
.modal-window_contacts_links a:hover {
    color: lightblue;
    box-shadow: 350px 0 0 0 rgb(0, 0, 0) inset;
}

.modal-window_PDF {
    width: 500px;
    height: 200px;
    background: #fff;
    border-radius: 7px;
    margin: 100px auto;
    padding: 8px;
}
.modal-window_PDF_cross {
    display: flex;
    justify-content: end;
}
.modal-window_PDF_cross img {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}
.modal-window_PDF_cross img:hover {
    cursor: pointer;
    background: rgb(160, 160, 160);
}

.modal-window_PDF_buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    margin: 40px 0px;
}
.modal-window_PDF_buttons a {
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    border: rgba(0, 0, 0, 0.2) solid 1px;
    color: #000;

    width: 150px;
    padding: 7px 15px;
    margin: 5px;
    transition: .3s linear;
}
.modal-window_PDF_buttons a:hover {
    color: lightblue;
    box-shadow: 350px 0 0 0 rgb(0, 0, 0) inset;

}



/* section */




.navbar{
    position: sticky;
    z-index: 5;
    top: 0;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 120px;
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 0;
}
.navbar_link {
    padding: 15px 20px;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    transition: .4s ease-out;
    background: white;
}
.navbar_link:hover {
    box-shadow: 250px 0 0 0 rgb(0, 0, 0) inset;
    color: lightblue;
}



/* section */




.section_myinfo_content {
    width: 90%;
}
.section_myinfo_motivation-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 100px 0px;
}
.section_myinfo_motivation-block_text {
    margin: 30px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paragraph_name {
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 500;
}
.section_myinfo_motivation-block img {
    height: 310px;
    width: 310px;
    border-radius: 50%;
    margin: 30px;
    transition: linear .5s;
}
.section_myinfo_motivation-block img:hover {
    transition: linear .2s;
    box-shadow: 0px 0px 5px 2px;
}    




/* section */



.tech_skills_block-title {
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    margin: 0;
}
.tech_skills_block-languages {
    padding: 30px;
    margin-bottom: 50px;
}
.tech_skills_block-languages_list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 15px;
    margin: 0;
}
.tech_skills_block-languages_list li {
    display: flex;
    align-items: center;
    padding: 10px;
}
.tech_skills_block-languages_list li span {
    align-items: center;
    padding-left: 15px;
}
.tech_skills_block-languages_list li img {
    width: 25px;
    height: 25px;   
}


.tech_skills_block-tech_content {
    padding: 40px 30px;
    margin-bottom: 50px;
}
.tech_skills_block-tech_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 15px;
    margin: 0;
}
.tech_skills_block-tech_list li {
    text-align: center;
    /* background: lightgray; */
    border: rgba(0, 0, 0, 1) solid 1px;
    border-radius: 15px;
    padding: 8px 35px;
    margin: 10px;

    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    transition: .1s linear;
}
.tech_skills_block-tech_list li:hover{
    box-shadow: 2px 2px  lightblue, 3px 3px rgba(0, 0, 0, 1);
    top: -4px;
    left: -4px;
    cursor: default;
    
    color: lightblue;
    background: #000;
}




/* section */




.section_experience_info_work {
    padding: 40px 30px;
    margin-bottom: 40px;
}
.section_experience_info_work p {
    margin: 15px 0px;
}
.section_experience_info_work span {
    color: rgb(150, 150, 150);
    font-weight: 700;

}
.section_experience_info_work_block-link {
    text-align: center;
}
.section_experience_info_work_link {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    color: rgba(0, 0, 0, 1);
}
.section_experience_info_work_link:hover {
    color: darkblue;
}
.section_experience_info_work_list {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}
.section_experience_info_work_list li {
    padding: 5px 0px;
}
.section_experience_info_work_list_link {
    text-decoration: none;
    font-weight: 400;
    font-style: italic;
    color: #000;
}
.section_experience_info_work_list_link:hover {
    color: darkblue;
}




/* section */




.education_block {
    padding: 40px 30px;
    margin-bottom: 40px;
}
.education_content_title {
    text-align: center;
    margin: 0px;
    padding-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
}    
.education_content_title_link {
    color: #000;
    font-style: italic;
    text-decoration: none;
}
.education_content_title_link:hover {
    color: darkblue;
}
.education_content_subtitle {
    margin: 0;
    font-style: italic;
    display: flex;
    align-items:flex-end;
}
.education_content_subtitle img {
    height: 23px; 
    width: 23px;
    padding-right: 8px;
}
.subtitle_date {
    margin: 0px;
}
.subtitle_date span {
    color:#fff;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0px 8px 2px 8px ;
    border-radius: 7px;
}

.education_youtube_channel_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.youtube_channel_card {
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 1px 1px 5px 0px #000;
    border: rgba(0, 0, 0, 0) solid 3px; /*костылик?*/

    padding: 30px;
    margin: 0px 5px 30px 5px;
    min-width: 110px;
    width: 20%;
    max-width: 27%;
    max-height: 150px;
}
.youtube_channel_card:hover {
    background: #000;
    color: #fff;
}
.youtube_channel_card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.youtube_channel_card p {
    margin: 0;
    padding: 15px 0px;
}
.education_youtube_channel_other_cards {
    display: none; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.education_content_sites {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
}
.education_content_sites_links {
    margin: 15px 0px;
    display: flex;
    align-items: center;
}
.education_content_sites_links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 35px;
    box-shadow: 2px 2px 5px 0px;
    border-radius: 8px;
    font-size: 19px;
}
.education_content_sites_links a:hover {
    color: lightblue;
    background: #000;
}

.title_shadow {
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0px 2px 5px 1px  rgba(0, 2, 129, 0.7);
    margin: 30px 0px 15px 0px;
    padding: 5px;
}
.education_content_books_title {
    text-align: center;
}

.education_content_books_title:hover {
    cursor: pointer;
}
.education_content_books_tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.education_content_book {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    box-shadow: 0px 1px 2px #000;
}
.education_content_book img {
    position: relative;
    z-index: 4;
    width: 300px;
    height: 400px;
    transform-origin: top left;
    transform: rotate(0deg);
}
.education_content_book img:hover {
    cursor: pointer;
}
.education_content_book img:active {
    transform: rotate(-50deg);
}
.education_content_book p {
    position: absolute;
    z-index: 3;
    margin-top: 250px;
    text-align: center;
    font-weight: 600;
}
.education_content_books_fiction { 
    display: none; 
    flex-wrap: wrap;
    justify-content: space-around;
}



/* section */





.section_events_list {
    padding: 40px 0px;
}
.section_events_list_card {
    
}
.section_events_list_link {
    text-decoration: none;
    font-style: italic;
    color: #000;
}
.section_events_list_link:hover {
    color: darkblue;
}





/* section */




.soft_skills_block {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 19px;
    margin: 30px 0px 0px 0px;
    padding-bottom: 80px;
}
.soft_skills_block-title {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
.soft_skills_block-abilities {
    display: flex;
    justify-content: space-around;
    list-style-type: none;   
    margin: 0px;      
}
.soft_skills_block-abilities_skills {
    padding-left: 0;
    margin-top: 0;
}
.soft_skills_block-abilities_skills:nth-child(3){
    display: none;
}
.skill {
    display: flex;
    align-items: center;
    text-align: start;
    border-radius: 10px;
    padding: 10px 5px;
    margin: 10px 0px;
    width: 100%;  
}
.skill img {
    padding: 0px 15px;
}
.personskill {
    justify-content: end;
    text-align: end;
}




/* section */




/* .before_content_width_section_hobbies {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 85vh;
    box-sizing: border-box;
} */

.section_hobbies {
    padding: 15px 5px;
    margin-bottom: 20px;
}

.section_hobbies_sports-container {
    width: 100%;
    display: none;

}

.section_hobbies_title {
    text-align: center;
    margin: 0px;
    padding: 0px 0px 20px 10px;
    font-size: 22px;
    font-weight: 600;
}

.section_hobbies_sports-container_slide {
    height: 600px;
    border-radius: 30px;
    position: relative;
    margin: 10px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 2px lightgoldenrodyellow;
    transition: all 500ms ease-in-out;
}
.section_hobbies_sports-container_slide-title {
    position:absolute;
    font-size: 21px;
    font-weight: 700;
    bottom: 5%;
    left: 5%;
    margin: 0;
    opacity: 0;
}

.section_hobbies_sports-container_slide-title p {
    margin: 0;
    font-size: 20px;
}

.section_hobbies_sports-container_slide.active{
    flex: 7;
}
.section_hobbies_sports-container_slide.active h3{
    opacity: 1;
    transition: opacity 0.2s ease-in 0.3s;
}

.section_hobbies_sports-container_mobile {
    display: none;
}




/* section */









/* section */




.footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: white;

}
.footer_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 30px 30px 30px;
    margin: 0;
}
.footer_list li {
    list-style-type: none;
    margin: 5px 0px;
}
.footer_link {
    text-decoration: none;
    color: white;
    padding: 10px;
}
.footer_link:hover{
    color: lightblue;
}
.footer p {
    margin: 0px;
    padding: 15px;
    text-align: center;
    font-size: 16px;
}
.footer_second-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 20px;
    margin: 0;
}
.footer_second-line a {
    background-color: #fff;
    color: #000;
    padding: 3px 20px;
    font-weight: 500;
    border-radius: 40px;
} 
.footer_second-line a:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
}
