@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

body{
    display: block;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    margin: 0;
    max-width: 100%;
}
.content_width{
    margin: 0 auto;
    padding: 40px;
    max-width: 70%;
    background-color: pink;
    box-sizing: border-box;
}
h2{
    /* position:; */
    height: 90px;
    background: radial-gradient(#2c3e50, #bdc3c7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: white;
    margin: 0;
}

/* section */

.header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(45deg, #bdc3c7, #2c3e50); */
    /* background: rgba(0, 0, 0, 0.2); */
}
.header div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0px 100px 0px;
}
.header div img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-right: 100px;
}
.header div h1{
    font-size: 60px;
    font-family: 'Chango', cursive;
    
    
    text-align: center;
    background: url(/img&icon/pexels-photo-bg.jpeg);    
    color: transparent;
    -webkit-background-clip: text;
    animation: h1_animation 10s infinite linear;;
}
@keyframes h1_animation{
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}
.header a {
    display: block;
    width: 100px;
    /* justify-content: center;
    text-align: center; */
    text-decoration: none;
    color: black;
    border: solid 3px;
    border-radius: 5%;
    padding: 20px 60px;
}
.header a:hover{
    background: url(/img&icon/pexels-photo-h1-bg.jpeg);
    /* color: white; */
    border-color: black;

}

/* section */

.navbar{
    position: sticky;
    top: 0;

}
.navbar ul{
    max-height: 120px;
    list-style-type:none;
    display: flex;
    justify-content:center;
    align-items: center;
    /* border: solid 3px; */
    background-color: white;
    box-shadow: 0px 0px 5px 5px black;
    margin-bottom: 50px;

}
.navbar ul a {
    padding: 15px 40px;
    text-decoration: none;
    color: black;

}
.navbar ul a:hover {
    /* background-color: lightgray; */
    box-shadow: 0px 0px 2px 3px black inset;
}

/* section */

.section_myinfo_motivation-block {
    display: flex;
    justify-content: center;
    padding: 20px 0px 120px 0px;
    font-size: 22px;
}
.section_myinfo_motivation-block p {
    margin: 30px;
    padding: 20px;
    box-shadow: 3px 3px 6px;
}
.section_myinfo_motivation-block p span {
    font-size: 30px;
    margin-bottom: 40px;
    text-decoration: underline;
}
.section_myinfo_motivation-block img {
    height: 300px;
    width: 300px;
    border: solid 3px black;
    border-radius: 50%;
    margin: 30px;
}


.section_myinfo_abilities {
    margin: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section_myinfo_abilities span {
    font-size: 30px;
    margin-bottom: 30px;
    text-decoration: underline;
}
.section_myinfo_abilities ul {
    list-style-type: none;
    margin: 0;
}
.section_myinfo_abilities ul li {
    display: flex;
    align-items: center;
    font-size: 25px;    
}
.section_myinfo_abilities ul:nth-child(3) {
    color: blue;
    margin: 0 0 0 auto;

}
.section_myinfo_abilities ul li img {
    padding: 15px 30px 15px 20px;
    height: 52px;
    width: 52px;
}

/* section */

.section_skills{

}
.section_skills ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
}


/* section */


footer {

    /* height: 350px; */
    padding-top: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;

}
footer ul {
    display: flex;
    justify-content: center;
    padding: 80px 30px;
    margin: 0;
}
footer ul li {
    list-style-type: none;
}
footer ul li a {
    text-decoration: none;
    color: white;
    padding: 15px;
}
footer ul li a:hover{
    text-decoration: underline;
}

footer p {
    margin: 0;
    padding: 15px;
    text-align: right;
}

