
body{
    display: block;

    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    max-width: 1200px;

}

h2{
    background-color: lightgray;
    padding: 20px 40px;
    color: darkgreen;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    
}
header ul{
    display: flex;
    justify-content:center;
    list-style-type:none;
    background-color: gray; 
       
    padding: 0;
    max-height: 120px;
    

}
header ul a {
    padding: 20px 40px;
    text-decoration: none;
    color: black;
}
header ul a:hover {
    background-color: lightgray;
}
/* header ul li {
    background-color: darkorange;
    padding: 15px 40px;
    
}
header ul li a {
    text-decoration: none;
    color: white;
    
} */
/* header ul a:first-child {
    color: black;
} */

.section_ava{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 0px 150px 0px;
    background-color: lightgrey;
}
.section_ava img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 60px 50px;
}
.section_ava div{
    margin: 60px 50px;
    font-size: 30px;
    color: green;
}


.section_myinfo{    
    height: 400px;

}
.section_myinfo span:first-child {
    display: flex;
}


.section_skills{

}
.section_skills ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
